.home {
  background-color: #fff;
  color: #007acc;
  padding: 20px;
}

.about {
  border-bottom: 1px solid #d3d3d3;
}

.about h2 {
  color: Coral;
}

.welcome h2 {
  color: Coral;
}

.tip h2 {
  color: Coral;
}

